<?xml version="1.0"?>
<robot name="cube">
  
  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  <material name="red">
    <color rgba="0.8 0 0 1"/>
  </material>
  <material name="white">
    <color rgba="1.0 1.0 1.0 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>

  <link name="cube_base_link">
    <visual>
      <origin rpy= "0 0 0 " xyz="0 0 0" />
      <geometry>
        <box size="0.0502 0.0502 0.0502"/>
      </geometry>
      <material name=white/>
    </visual>
  </link>

  <link name="april_tag6">
    <visual>
      <origin rpy= "0 0 0 " xyz="0 0 0" />
      <geometry>
        <box size="0.035 0.035 0.001"/>
      </geometry>
      <material name=black/>
    </visual>
  </link>

  <joint name="cube_base_link__apriltag" type="fixed">
    <parent link="april_tag6" />
    <child link="cube_base_link"/>
    <origin xyz="0 0 -0.0251" rpy="0 0 0"/>
  </joint>
</robot>