<launch>

  <arg name="rvizconfig" default="$(find colab_reachy_objects)/rviz_config/cube.rviz" />

  <!-- <param name="robot_description" command="$(find xacro)/xacro $(arg model)" /> -->
  <param name="robot_description" command="cat $(find colab_reachy_objects)/urdf/cube_and_apriltag.urdf" />
<!-- 
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" >
    <param name="use_gui" value="TRUE"/>
  </node> -->

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> -->

</launch>