<launch>
  <group ns="cube">
    <!-- <arg name="rvizconfig" default="$(find colab_reachy_object_urdf)/rviz_config/cube.rviz" /> -->

    <param name="tf_prefix" value="cube"></param>

    <param name="robot_description" command="cat $(find colab_reachy_object_urdf)/urdf/cube_and_apriltag.urdf" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

  </group>
</launch>